.pr-div {
    width: 100%;
    padding: 30px 0;
}

.productPage {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px;
    margin: 11vh auto;
}

.filters {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}

.filters h3 {
    margin-bottom: 20px;
}

.filters label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}   
.filters input:hover {
    cursor: pointer;
}

.price,
.rating {
    padding: 15px 10px;
    border-radius: 2px;
}

.products {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    background-color: #0d1117;
    color: white;
}

.productCard {
    width: 300px;
    /* This will make the card responsive */
    border: 1px solid #161b22;
    background-color: #161b22;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    flex-wrap: wrap;
    border-radius: 2px;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}



.productCard:hover {
    box-shadow: 7px 7px 5px rgba(148, 148, 148, 0.124);
}

.productImage {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
.productCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.productCategory {
    color: blue;
    font-size: 12px;
    margin-top:7px;
}

.productName {
    font-weight: 400;
    font-size: 18px;
}

.productRating {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .productPage {
        flex-direction: column;
        width: 90%;
    }

    .filters,
    .products {
        width: 100%;
    }

    .filters {
        padding: 0px;

    }

    .productCard {
        width: 100%;
    }

    .filters {
        border-right: none;

    }
}